
/* Section 3 starts */

#section3{
    background-image: URL(media/education2.jpg);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    filter: grayscale(0.5);
    height: 170vh;
    width: 100%;
    }

    
    .educationbox{
        margin-left: 2%;
        height: 90%;
        width: 90%;
        background-color: transparent;
    }
    
    .educationbox h4{
        padding-top: 8%;
        padding-left: 2%;
        font-size: 1.5em;
        color: #e56b0d;
        font-family:'Times New Roman', Times, serif;
    }
    

    .collegelogo{
        margin-top: 70px;
        padding-left: 80px;
        height: 50px;
        width: 50px;
        display: inline-block;

    }

    .collegeleftbox{
        height: auto;
        width: 700px;
        background-color: transparent;
        float:left;
    }

    .collegeleftbox h1{
        display: inline-block;
        margin-left: 10px;
        font-size: 40px;
        font-family: cursive;
        color: white ;
    }

    .collegerightbox{
        height: auto;
        width: 700px;
        background-color: transparent;
        float: right;
    }

    .collegerightbox h1{
        display: inline-block;
        margin-left: 10px;
        font-size: 40px;
        font-family: cursive;
    }
    
    /* Section 3 ends  */