#section6 {
   height: 100%;
   width: 100%;
   background-color: rgb(255, 255, 255);
 }
 
#section6  h4{
   padding-top: 4%;
   padding-left: 2%;
   font-size: 1.5em;
   color: #cd6b20;
   font-family:'Times New Roman', Times, serif;
}

 .titlebox {
   height: 50px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.608);
   position: relative;
   margin-top: 20px;
   border-radius: 5px;
   box-shadow: 0, 2px, 4px, rgb(0, 0, 0);
 }

 .titlebox h3{
   color: rgb(255, 255, 255);
   font-family: Arial, Helvetica, sans-serif;
   font-family: cursive;
   text-align: center;
   font-size: 30px;
 }
 
 .desbox {
   height: fit-content;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.132);
   display: none;
   position: relative;
   top: 100%;
   left: 0;
   margin-top: 2px;
   border-radius: 5px;
   box-shadow: 0, 2px, 4px, rgba(66, 0, 0, 0.656);
   transition: height 2s;
 }

 .desbox li{
 color: rgb(0, 0, 0);
 font-family: Arial, Helvetica, sans-serif;
 text-align: left;
 font-size: 20px;
 }

 .desbox h5{
   color: orangered;
 font-family: Arial, Helvetica, sans-serif;
 text-align: left;
 font-size: 25px;
 font-family: cursive;
 }
 
 .titlebox:hover + .desbox {
   display:flow-root;
   height: fit-content;
 }

.counter{
   margin-top: 30px;
   height: 300px;
   width: 100%;
   background-image: url(media/codecount2.jpeg);
   background-size:cover;
   background-position: relative;
}

.counter .count {
   font-size: 5em;
   color: #ffffff;
   display: block;
   text-align: center;
   animation: count-up 2s ease-out forwards;
}

@keyframes count-up {
   from {
      counter-reset: count 0;
   }
   to {
      counter-increment: count 1000;
   }
}
