
/* Section 5 starts */

#section5{
    background-color: transparent;
    height: 100%;
    width: 100%; 
}

.worktimelinebox{
    background-color: rgb(24, 22, 22);
    height: 1000px;
    width: 100%; 
}

.worktimelinebox h4{
padding-top: 4%;
padding-left: 2%;
font-size: 1.5em;
color: #cd6b20;
font-family:'Times New Roman', Times, serif;
}



.line{
    height: 600px;
    width: 5px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 50%;
 }

 .cardleft{
    padding-left: 02%;
    height: auto;
    width: 500px;
    position: relative;
    padding: 2%;
    float: left;
    margin: 0 0 20px 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: gray;
    border-radius: 8px;
 }

 .cardright{
    padding-left: 02%;
    height: auto;
    width: 500px;
    position: relative;
    padding-right: 2%;
    float: left;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    color: gray;
    border-radius: 8px;
    float: right;
 }

 .titleleft{
    color: orangered;
    position: relative;
 }


 .titleleft::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -35px;
    border: 3px solid orangered;
  }

  .titleright{
    color: orangered;
    position: relative;
 }


 .titleright::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: 520px; 
    border: 3px solid orangered;
  }